
<%= stylesheet_link_tag :all %>
<%= javascript_include_tag :all %>
<div id="place"></div>
    <button id="btnInit">Get Location</button>
    <button id="find20">Find 20</button>
<div id="map" style="height: 400px; width:400px"></div>

<script type="text/javascript">
    var positionopts = {
       enableHighAccuracy: true,
       timeout: 10000
    };
    var map = new L.Map('map');
    var ourPositionLat;
    var ourPositionLong;
    var cloudmadeUrl = "http://{s}.tile.cloudmade.com/8df754a7229f41209a6dc89d4615f0f1/997/256/{z}/{x}/{y}.png",
    cloudmadeAttrib = 'Map data &copy; 2011 OpenStreetMap contributors, Imagery &copy; 2011 CloudMade',
    cloudmade = new L.TileLayer(cloudmadeUrl, {maxZoom: 18, attribution: cloudmadeAttrib});
    $(document).ready(function() {
        // $("#btnInit").click(function() {
            // navigator.geolocation.getCurrentPosition(handler, problemHandler, positionopts);
        // });
        map.on('locationerror', function(e) {
            alert(e.message);
        });
        map.on('locationfound', function(e) {
            // alert(e.latlng.lat)
            ourPositionLong = e.latlng.lng;
            ourPositionLat = e.latlng.lat
            // console.log("lat: " + ourPositionLat);
            // console.log("long: " + ourPositionLong);
            var marker = new L.Marker(new L.LatLng(ourPositionLat, ourPositionLong));
            map.addLayer(marker);  
        });

        map.on("dragend", function(e) {           
            var newLocation = map.getCenter();
            ourPositionLong = newLocation.lng;
            ourPositionLat = newLocation.lat
            console.log("lat: " + ourPositionLat);
            console.log("long: " + ourPositionLong);
            // map.clearLayers();
            getItems();
        });

        map.locateAndSetView(14);
        map.addLayer(cloudmade);
        $("#find20").click(function() {
          getItems();
        });
    });


    function getItems(e) {
        if (typeof group !== 'undefined') {
            group.clearLayers();
        }
        group = new L.LayerGroup();
        $.ajax({
         type: "GET",
         url: "/find_nearest",
         data: "lat=" + ourPositionLat + "&long=" +ourPositionLong,
         success: function(data){
            json = $.parseJSON(data);
            var items = $.each(json, function(i,v) {
                var ll = v.obj.loc.reverse()
                var name = v.obj.name;
                var street = v.obj.street;
                var latest = "";
                console.log(v.obj.inspections.length);
                if(v.obj.inspections.length > 0) {
                    latest = v.obj.inspections[0].score
                }
                pc = name + "<br/>" + street + "<br/>Most Recent Inspection:";
                pc += latest;
                var marker = new L.Marker(new L.LatLng(ll[0], ll[1]));
                marker.bindPopup(pc);
                group.addLayer(marker);
            });
            map.addLayer(group);                        
        }
           });
    }

    function handler(position) {
        ourPositionLat = position.coords.latitude;
        ourPositionLong = position.coords.longitude;
        // ourPositionLat = 45.52;
        // ourPositionLong = -122.681944;
        txt = "Lat: " + position.coords.latitude + ' Lon: ' +position.coords.longitude;
        $("#place").text(txt);
        var pdx = new L.LatLng(ourPositionLat, ourPositionLong);
        map.locateAndSetView(13);
        map.addLayer(cloudmade);
        map.setView(pdx, 13).addLayer(cloudmade);
        var marker = new L.Marker(pdx);
        map.addLayer(marker);
    }
    
    function problemHandler(prob) { 
        console.log(prob.code);
        // switch(prob.code) {
        //  case 1:
        //  $("place").innerHTML = "User declined to share the location information.";
        //  break; 
        //  case 2: $("place").innerHTML = "Errors in getting base location."; 
        //  break; 
        //  case 3: $("place").innerHTML = "Timeout in getting base location."; 
     }
 
</script>

<div>

</div>

