<!DOCTYPE html>
<html>
<head>
  <title>SafeEatsPDX: Mapping Health Inspections for Multnomah, Clackamas, and (soon) Washington Counties</title>

  <%= stylesheet_link_tag :all %>
  <script src='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.js'></script>
  <link href='https://api.tiles.mapbox.com/mapbox.js/v1.6.2/mapbox.css' rel='stylesheet'/>
  <%= javascript_include_tag ['jquery.min', 'jquery_ujs', 'jquery.mobile-1.0.1.min', 'application'] %>
  <meta name='viewport' content='width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no'/>

  <%= csrf_meta_tag %>
</head>
<body>

<%= yield %>
<hr/>

</body>
</html>
